body {

  background: #99B8F9;

}

h2 {
  color: #3C4D71;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.ib {
  position: absolute;
}

#mainFigure {
  background: #3F7DFF;
  border-radius: 40px;
  height: 93vh;
  /*height: 750px*/
}

.nav-link {
  color: white;
}

.marginfix {
  margin: 0 auto;
}

#mainContent {
  background-color: #FFFFFF;
  border-radius: 30px 30px 30px 0px;
  /*height: 720px;*/
  height: 89vh;
}

.nav-item {
  margin-bottom: 1rem;
}

.spacer {
  padding-right: 1rem;
}

#btn-signout {
  background: #FF6974;
}

#btn-signout:hover {
  background: #950101;
}

.tab-view {
  padding: 0px 11px 11px 11px;
}

.force-left {
  text-align: left;
}

.crud-admin {
  height: 75vh;
  overflow-y: auto;

}

.circle {
  border-radius: 150px;
  background-color: #FFFFFF;
  opacity: 53%;
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.signoutBtn{
  background: red;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 150px;
}

#cancel {
  visibility: hidden;
}

#btn-next-card {
  background: grey;
  border-color: gray;
}

#btn-complete-card {
  background: #24C4BC;
  border-color: #24C4BC;
}

#home-layout {
  height: 80vh;
}

#progress {
  height: 160px;
}

.app-widget {
  color: white;
  border-radius: 20px;
  padding: 1rem 1rem 0rem 1rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #FF865E;
  color: white;
  border: none;
}
